/app/tests/
.DS_Store
/bundles/acl
/bundles/admin
/bundles/datatypes
/bundles/mediacenter
/bundles/switchboard
/bundles/revision
/public/acl
/public/admin
/public/datatypes
/public/mediacenter
/public/switchboard
/.idea/
/vendor/
composer.lock
