<html>
    <head>
        <title>Caspian 2</title>
        <style>
            body { margin: 0; padding: 0; background-color: #eeeeee; font-family: "Helvetica-Light", Verdana; }
            h1 { font-weight: normal; font-size: 22px; }
            .content { margin: auto auto; width: 600px; margin-top: 200px; text-align: center; }
        </style>
        <link rel="shortcut icon" href="<?php $this->html->image('favicon.ico'); ?>" type="image/x-icon">
        <link rel="icon" href="<?php $this->html->image('favicon.ico'); ?>" type="image/x-icon">
    </head>

    <body>
        <!--view-->
    </body>
</html>